$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeInCirc: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$easeInOutQuart: cubic-bezier(0.77, 0, 0.175, 1);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);
$easeOutCubic: cubic-bezier(.23,.76,.37,.99);
